li:hover{
    cursor: pointer !important;
    background-color:white !important;
    color:green !important;
    border:2px solid green !important;
    border-radius:5rem !important;
  }

  li:hover a{

    color:green !important;
  }

  ul li{
    text-decoration: none;
    list-style-type: none;
    border:2px solid white;
    background-color:green;
    border-radius:5rem;
    border:2px solid white;
    cursor: pointer;
    padding: 1rem;
  }

  ul li > i{
      color:  yellow;
      font-size: 2rem;
      margin-left: 3rem;
      margin-right: 2rem;
  }

  ul li a{
     color: white;
     margin-bottom: 20px;
  }