<!--The content below is only a placeholder and can be replaced.-->
  <!--<h1 style="text-align:center;">
    Welcome to <b>{{ title }}!</b>
  </h1>-->
  <div>
				<p style="color:green;text-align:center;font-size:1.5em">caissier : rasta <button class="btn btn-danger" [routerLink]="['/login']">se deconnecter</button></p>
				
	</div>
  <div class="row">
		<div class="col-lg-3" >
        <app-menus [dashboard]="true" [vente]="true" [histoire]="true" [profile]="true"></app-menus>
		</div>
		<div class="col-lg-8">
			 <router-outlet></router-outlet>
		</div>
  </div>
 

