<div class="row" style="margin-top:2rem; border:1px solid green; padding: 2rem; border-radius:2rem;">
    <div class="col-lg-12" style="text-alig:center;">
          <div class="row">
               <div class="col-lg-4">

               </div>
               <div class="col-lg-4">
                    <h1 onloadedmetadata=""style="margin-top:0rem;border:2px solid green; color: green; text-align:center;  border-radius:2rem;"><B>Produits</B></h1>
               </div>
          </div>
    </div>
   <!-- <div class="input-group input-group-sm sort row">-->
    <div class="row">
		   <div class="col-lg-7 col-md-7 col-xs-7">
			    <input type="text" class="form-control input-sm" name="p" [(ngModel)]="p" placeholder="rechercher d'un produit..." (keyup)="changerecherche($event)">
		   </div>
           <div class="col-lg-4 col-md-4 col-xs-4">
			   <input type="text" [(ngModel)]="qt" name="qt" class="form-control input-sm" />
           </div>
           <div class="col-lg-1 col-md-1 col-xs-1">
               <button class="btn btn-secondary btn-sm" (click)="ajout()" type="button">Go!</button>
           </div>
    </div>
    <div class="row" *ngIf="rechercheMedoc == true">
        <ul style="background-color:blue; z-index:2;" class="col-lg-11">
            <li  *ngFor="let medoc of  medicamentsSave | filterBy: ['medicament']: changerMotif " ><a (click)="nouveauMedoc(medoc)" id=' "medicament": "{{ medoc.medicament }}" ,"prix": "{{ medoc.prix }}"  , "quantite" : "{{ medoc.quantite }}" ,"modePayement" : "{{ medoc.modePayement }}", "assurance": "{{ medoc.assurance }}", "type": "{{ medoc.type }}" '>{{ medoc.medicament }}</a></li>
        </ul>
   </div>
   <div class="row" style="margin-top:1rem; text-align:center; border: 1px solid rgba(255,255,255,0.1);width:55rem;">
       <table class="table table-bordered table-lg" style="width:100%;">
               <thead>
               <tr>
                   <th>#</th>
                   <th>Produits</th>
                   <th>Prix</th>
                   <th>Quantite</th>
                   <th>Prix total</th>
                  <!-- <th>Type</th>
                   <th>Mode Payement (*)</th>
                   <th>Assurance (*)</th>
                   <th>supprimer</th>-->
               </tr>
               </thead>
               <tbody #bodyTable>

                       <tr *ngFor="let medoc of medicaments">
                           <th scope="row" id="num" class="{{ medoc.id}}">{{ medoc.id}}</th>
                           <td id="medicament" class="{{ medoc.medicament}}">{{ medoc.medicament}}</td>
                           <td id="prix" class="{{ medoc.prix}}">{{ medoc.prix}}</td>
                           <td id="quantite" class="{{ medoc.quantite}}">{{ medoc.quantite}}</td>
                           <td>{{medoc.prix*medoc.quantite}}</td>
                           <td style="text-align:center;"><button (click)="supprimerMedoc(medoc)">supprimer</button></td>
                       </tr>

              
        
                   <tr>
                       <td>
						   Total : {{prixtotal()}}
                       </td>
                       <td colspan="2">
                            <button class="btn btn-success btn-sm" (click)="openModal(template)" style="width:100%;">Valider</button>
                       </td>
                   </tr>
                 </tbody>  
           </table>
   </div>
</div>

   <ng-template #template>
                               <div class="modal-header">
                                 <h4 class="modal-title pull-left">Modal</h4>
                                 <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                               </div>
                               <div class="modal-body">
                                  <h1>Fenetre De Confirmation</h1>
                                  <table class="table table-condensed table-striped">
									  <tr>
										  <td>Produits</td>
										  <td>Quantite</td>
										  <td>Prix</td>
										  <td>Prix Total</td>
									  </tr>
									  <tr *ngFor="let m of medicaments">
										  <td>{{m.medicament}}</td>
										  <td>{{m.quantite}}</td>
										  <td>{{m.prix}}</td>
										  <td>{{m.prix*m.quantite}}</td>
									  </tr>
                                  </table>
                                 
                                  <button class="btn btn-success btn-sm" (click)="valider_vente()" >valider</button>
                                  <button class="btn btn-danger btn-sm" (click)="annuler_vente()" >annuler</button>
                               </div>
   </ng-template>

