.sort+div{
    border: 1px solid black;
    width: 75%;
    margin-left:0.5rem;
}

.sort+div ul li {
    cursor: pointer;
    border: 2px solid white;
    background-color: green;
    color:white;
}

.sort+div ul li:hover {
    background-color: white !important;
    color: green !important;
    border: 2px solid green !important;
}

table{
    font-size:small;
}