/*a:hover{
    cursor: pointer;
    background-color:white;
    color:green !important;
    width:100% !important;
    display:block;
    border:2px solid green;
    border-radius:20px;
    height:50px;
    padding-top:10px;
  }
ul li{
    border:2px solid white;
    background-color:green;
    border-radius:20px;
    text-align:center;
    border:2px solid white;
}
li a{
    color:white;
}

.activeMenu{
    background-color: white;
    color: green;
}


#om-options a{
    border-radius: 1rem 0rem 1rem 1rem;
    padding: 1.3rem;
    color : #F39200 ;
    margin-right: 2rem ;
    background-color: white ;
    border : 2px solid #F39200;
}

#om-options a:hover{
    color : white ;
    background-color: #36A9E0 ;
    text-decoration: none ;
}

#om-options a:focus{
    color : white ;
    background-color: #36A9E0 ;
    text-decoration: none ;
}*/
.inputcloud{
  border-radius:10px 10px 10px 10px;
  margin-left:2em;
}
.lien{
    padding:0.5em;
    cursor:pointer;
    border-radius:10px 10px 10px 10px;
    color:white;
    background-color:green;
}
.lien:hover{
   color:green;
   background-color:White;
}
