<div class="row">
	<button [ngClass]="{btn:true,'btn-sm':true, 'btn-success':true, activeMenu: ((section==='nouveau produit')?true:false)}" (click)="section='nouveau produit'" >nouveau produit</button> 
	<button [ngClass]="{btn:true,'btn-sm':true, 'btn-success':true, activeMenu: ((section==='liste des produits')?true:false)}" [ngStyle]="{'margin-left': '0.7rem'}" (click)="section='liste des produits'" >liste des produits</button>
	<button [ngClass]="{btn:true,'btn-sm':true, 'btn-success':true, activeMenu: ((section==='peremption')?true:false)}" [ngStyle]="{'margin-left': '0.7rem'}" (click)="section='peremption'" >peremption</button>
	<button [ngClass]="{btn:true,'btn-sm':true, 'btn-success':true, activeMenu: ((section==='modifier produit')?true:false)}"  [ngStyle]="{'margin-left': '0.7rem'}" (click)="section='modifier produit'">modifier produit</button> 
	<button [ngClass]="{btn:true,'btn-sm':true, 'btn-success':true, activeMenu: ((section==='bl')?true:false)}" [ngStyle]="{'margin-left': '0.7rem'}" (click)="section='bl'">bl</button>
	<button [ngClass]="{btn:true,'btn-sm':true, 'btn-success':true, activeMenu: ((section==='reaprovisionnement')?true:false)}"[ngStyle]="{'margin-left': '0.7rem'}"  (click)="section='reaprovisionnement'">reappro</button> 

</div>

<div class="row" [ngStyle]="{'min-height': '-webkit-fill-available'}">

	<div class="col-lg-12" *ngIf="section==='nouveau produit'" style="margin-top:2rem;">
		<div class="row" [ngStyle]="{'margin-top': '2rem','text-align': 'center'}">
			<div class="col-lg-4">
				
			</div>
			<div class="col-lg-2">
				<button [ngClass]="{btn:true,'btn-sm':true,'btn-success':true,activeMenu:true}" class="btn btn-success" (click)="showmodalcaissier(template)" >nouveau produit</button>
			</div>
		</div>
		<div class="row" [ngStyle]="{'margin-top': '2rem'}">
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>TVA</th>
						<th>prix session</th>
						<th>prix vente</th>
						<th>Quantite</th>
						<th>Peremption</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let prod of produitsAjout" >
						<td>{{prod.nom}}</td>
						<td>{{prod.tva}}</td>
						<td>{{prod.prixSession}}</td>
						<td>{{prod.prixVente}}</td>
						<td>{{prod.quantite}}</td>
						<td>{{prod.peremption}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button [ngClass]="{btn:true,'btn-sm':true,'btn-warning':true,activeMenu:true}" [ngStyle]="{position: 'absolute', right: '1rem', bottom:'7rem'}" (click)="showmodalcaissier(template)" >Valider</button>
   </div>
	<div class="col-lg-12" *ngIf="section==='liste des produits'">
		<div >
			<div class="row" [ngStyle]="{'margin-top':'2rem', 'text-align':'center'}">
				<div  [ngClass]="{'col-lg-offset-2':true, 'col-lg-2':true, 'col-md-2':true}">
					<input type="button" [ngClass]="{btn:true,'btn-sm':true ,'btn-primary':true}" value="tout les produits" />
				</div>
				<div [ngStyle]="{'margin-left':'0.7rem'}" [ngClass]="{'col-lg-2':true, 'col-md-2':true}">
					<input type="button" [ngClass]="{btn:true,'btn-sm':true ,'btn-primary':true}" value="par rayon" />
				</div>
			</div>
			<table class="table table-striped table-condensed" [ngStyle]="{'margin-top':'2rem'}">
				<tr>
					<th>produit</th>
					<th>quantite</th>
					<th>date peremption</th>
				</tr>
				<tr *ngFor="let produit of produits">
					<td>{{produit.nom}}</td>
					<td>{{produit.quantite}}</td>
					<td>{{produit.date}}</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="col-lg-12" *ngIf="section==='modifier produit'" >
		<div class="row" [ngStyle]="{'margin-top':'2rem', 'text-align':'center'}">
			<button [ngClass]="{btn:true, 'btn-success':true,'btn-sm':true}"  (click)="showmodalcaissier(templatemodif)">modifier produit</button>
		</div>
		<div class="row">

		</div>
	</div>
	
	<div class="col-lg-12" *ngIf="section==='reaprovisionnement'">
	
	</div>
	
	<div class="col-lg-12" *ngIf="section==='peremption'" [ngStyle]="{'margin-top': '2rem'}">
		<div class="row" >
			<table class="table table-striped table-condensed">
				<tr>
					<th>produit</th>
					<th>quantite</th>
					<th>date peremption</th>
				</tr>
				<tr *ngFor="let produit of produits">
					<td>{{produit.nom}}</td>
					<td>{{produit.quantite}}</td>
					<td>{{produit.date}}</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="col-lg-12" *ngIf="section==='bl'">
		<div>
			<div class="row" [ngStyle]="{'margin-top':'2rem'}">
				<div  class="col-lg-offset-2 col-lg-2 col-md-2">
					<input type="button" class="btn btn-primary" value="reapro" />
				</div>
				<div (ngStyle]="{'margin-left':'20px'}" [ngClass]="{'col-lg-2':true, 'col-md-2':true}">
					<input type="button" class="btn btn-primary" value="rechercher bl" />
				</div>
			</div>
		</div>
	</div>

	<!-- Routing tags -->
	<router-outlet></router-outlet>

</div>
<div class="row">
	<ng-template #template>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Modal</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label>nom produit</label>
					<input type="text" [(ngModel)]="nom"  name="nom" class="form-control">

				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<label>tva</label>
					</div>
					<div class="col-lg-3 col-md-3">
						<select [(ngModel)]="tva" name="tva">
							<option value="oui">oui</option>
							<option value="non" selected>non</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label>prix session</label>
					<input type="text" [(ngModel)]="prixs" name="prixs" class="form-control">
				</div>
				<div class="form-group">
					<label>prix de vente</label>
					<input type="text" [(ngModel)]="prixv" name="prixv" class="form-control">
				</div>
				<div class="form-group">
					<label>quantite</label>
					<input type="text" [(ngModel)]="quantite" name="quantite" class="form-control">
				</div>
				<div class="form-group">
					<label>peremtion</label>
					<input type="text" [(ngModel)]="peremption" name="peremption" class="form-control">
				</div>
			</form>
			<button class="btn btn-warning btn-sm" (click)="enregistrer_nouveau_produit()"  >valider</button>
			<button class="btn btn-primary btn-sm" (click)="annuler_enregistrement_nouveau_produit()"  >annuler</button>
		</div>
	</ng-template>

	<ng-template #templatemodif>

			<div class="modal-header">
				<h4 class="modal-title pull-left">Modal</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<form class="form-inline">
					<input type="text" name="chercher" (ngModel)="chercher" class="form-control" />
					<input type="button" style="margin-left:20px" class="btn btn-success btn-sm form-control" (click)="chercher()" value="chercher"  />
				</form>
				 <br />
				<form *ngIf="formmodif">
					<div class="form-group">
						<label>nom produit</label>
						<input type="text" (ngModel)="nom" name="nom" class="form-control">
					</div>
					<div>
						<label>tva</label>
						<div>
							<label>oui</label>
							<input type="radio" [(ngModel)]="tve" name="tva" />
						</div>
						<div>
							<label>non</label>
							<input type="radio" [(ngModel)]="tva"  name="tva" checked />
						</div>
					</div>
					<div class="form-group">
						<label>prix session</label>
						<input type="text" [(ngModel)]="prixs" name="prixs" class="form-control">
					</div>
					<div class="form-group">
						<label>prix de vente</label>
						<input type="text" [(ngModel)]="prixv" name="prixv" class="form-control">
					</div>
					<div class="form-group">
						<label>quantite</label>
						<input type="text" [(ngModel)]="quantite" name="quantite" class="form-control">
					</div>
					<div class="form-group">
						<label>peremtion</label>
						<input type="text" [(ngModel)]="peremption" name="peremption" class="form-control">
					</div>
				</form>
				<button class="btn btn-warning btn-sm"  >valider</button>
				<button class="btn btn-primary btn-sm"  >annuler</button>
			</div>
	</ng-template>
</div>

	

  

