<div class="col-lg-12">
	<!--<button  class="btn btn-success">liste des  caissier</button>-->
	<button (click)="showmodalcaissier(template)" class="btn btn-success">nouveau caissier</button>
					<div>
						<table class="table table-striped table-condensed table-hover col-lg-8 col-md-8 col-xs-8 col-sm-8">
							<tr>
								<td>prenom</td>
								<td>nom</td>
								<td>etat</td>
								<td>action</td>
							</tr>
							<tr *ngFor="let c of caissier">
								<td>{{c.prenom}}</td>
								<td>{{c.nom}}</td>
								<td>{{etat(c.etat)}}</td>
								<td>
									<button *ngIf="c.etat==1" (click)="bloquerCompte(c.idUser,0,c.dependOn)" class="btn btn-danger">Blocker</button>
									<button *ngIf="c.etat==0" (click)="bloquerCompte(c.idUser,1,c.dependOn)" class="btn btn-success">Activer</button>
									<button class="btn btn-primery" (click)="modalnewpassword(template1,c)">Modifier</button>
								</td>
							</tr>
						</table> 
				   </div>
				   <div *ngIf="newcaissierResponse" class="alert alert-success">Nouveau Caissier Ajouté</div>
			   
</div>
<ng-template #template>
                                                       <div class="modal-header">
                                                          <h4 class="modal-title pull-left">Modal Nouveau Caissier</h4>
                                                          <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                           <form>
															   <div class="form-group">
																   <label>prenom</label>
																   <input type="text" [(ngModel)]="prenom"  name="prenom" class="form-control" />
																   
															   </div>
															   <div class="form-group">
																   <label>nom</label>
																   <input type="text" [(ngModel)]="nom" name="nom" class="form-control" />
															   </div>
															   <div class="form-group">
																   <label>telephone</label>
																   <input type="text" [(ngModel)]="tel" name="tel" class="form-control" />
															   </div>
															   <div class="form-group">
																   <label>identifiant</label>
																   <input type="text" [(ngModel)]="identifiant" name="identifiant" class="form-control" />
															   </div>
															   <div class="form-group">
																   <label>password</label>
																   <input type="text" [(ngModel)]="password" name="password" class="form-control" />
															   </div>
															   <div class="alert alert-danger" *ngIf="errorid">Identifiant deja utilisé veuillez choisir un autre</div>
                                                           </form>
                                                           <button class="btn btn-warning btn-sm" (click)="nouveaucaissier()" >valider</button>
                                                           <button class="btn btn-primary btn-sm" (click)="annulation()" >annuler</button>
                                                        </div>
</ng-template>
<ng-template #template1>
                                                       <div class="modal-header">
                                                          <h4 class="modal-title pull-left">Modal Changement de mot de passe</h4>
                                                          <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                           <form>
															   <div class="row">
															       <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
															           <label>Nouveau Password</label>
															       </div>
															       <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
															           <input type="password" name="newpassword" [(ngModel)]="newpassword" />
															       </div>
															   </div>
															   <div class="row">
															       <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
															           <label>Repeter Password</label>
															       </div>
															       <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
															           <input type="password" name="rnewpassword" [(ngModel)]="rnewpassword" />
															       </div>
															   </div>
															   <button (click)="validerupdatepassword()" class="btn btn-success">valider</button>
                                                           </form>
                                                          
                                                        </div>
</ng-template>
<div bsModal   #modalcaissier="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
			<div class="modal-content" >
				   <div class="modal-header">
							<button type="button" class="close pull-right" aria-label="Close" (click)="hidemodalcaissier()">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Nouveau Client</h4>
					</div>
					<div class="modal-body">
						<form>
							<div>
								<label>prenom</label>
								<input type="text"  name="prenom" />
								
							</div>
							<div>
								<label>nom</label>
								<input type="text" />
							</div>
							<div>
								<label>tel</label>
								<input type="text" />
							</div>
						</form>
						
					</div>
					<div class="modal-footer">
						<input type="button"  value="valider" class="btn btn-success" />
						<input type="button" value="annuler"  class="btn btn-danger" />
					</div>
			</div> 
	</div>  
</div>
