<div style="margin-top:2em">
	<form class="form-inline">
		<label>De : </label>
		<input type="text" />
		<label> A:</label>
		<input type="text" style="margin-right:2em;margin-left:1em" />
		<input type="button" class="btn btn-success" value="valider" />
	</form>
</div>
<div style="margin-top:2em">
	<table class="table table-striped table-condensed">
		<tr>
			<th>produit</th>
			<th>quantite</th>
			<th>prix</th>
			<th>prix total</th>
			<th>action</th>
		</tr>
		<tr *ngFor="let p of historique">
			<td>{{p.produit}}</td>
			<td>{{p.qt}}</td>
			<td>{{p.prix}}</td>
			<td>{{p.prix*p.qt}}</td>
			<td><input type="button" class="btn btn-danger" (click)="annuler_vente()" value="annuler" /></td>
		</tr>
	</table>
</div>
